@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&family=Open+Sans:wght@300;400&display=swap");
/* rgb(29, 82, 124) */
/* rgb(69, 154, 211) */
/* rgb(253, 127, 69) */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #3c3b3c;
  line-height: 1.6;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  position: absolute;
  bottom: 0;
}

i {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

i:hover {
  opacity: 0.6;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(211, 211, 211, 0.5)), to(rgba(253, 127, 69, 0.7))), url(../img/baloon.jpg);
  background-image: linear-gradient(rgba(211, 211, 211, 0.5), rgba(253, 127, 69, 0.7)), url(../img/baloon.jpg);
  background-position: center top;
  background-size: cover;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav {
  background-image: linear-gradient(45deg, #fd7f45, rgba(45, 103, 140, 0.9));
  padding: 5px 0;
}

header nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  color: #fff;
}

header nav .logo {
  font-weight: 700;
  font-size: 2rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-left: 60px;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 0px 0 5px #3c3b3c;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #3c3b3c;
}

header hgroup {
  color: #fff;
  text-align: center;
  height: 100%;
  position: relative;
}

header hgroup div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header hgroup h1 {
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 1.3;
}

header hgroup h1 span {
  font-weight: 400;
  font-style: italic;
}

header hgroup p {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 40px 0 30px 0;
}

header hgroup button {
  padding: 15px 40px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}

header hgroup button:hover {
  background: #fff;
  color: #1d527c;
}

.about {
  padding: 100px 0;
}

.about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about article div h2 {
  color: #1d527c;
}

.about article div h2::after {
  background: #1d527c;
  left: 0;
}

.about article div:first-child {
  padding-right: 50px;
}

.about article div img {
  width: 100%;
  -webkit-box-shadow: 5px 5px 0px 5px #1d527c;
          box-shadow: 5px 5px 0px 5px #1d527c;
}

.servicies {
  padding: 115px 0 130px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 82, 124, 0.9)), to(rgba(29, 82, 124, 0.9))), url(../img/header.jpg);
  background: linear-gradient(rgba(29, 82, 124, 0.9), rgba(29, 82, 124, 0.9)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
}

.servicies .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.servicies .container div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.servicies .container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.servicies .container .icons ul {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.servicies .container .icons ul li i {
  font-size: 5rem;
  color: #fd7f45;
}

.servicies .container h2 {
  color: #fff;
  margin-bottom: 40px;
}

.servicies .container h2::after {
  background: #fd7f45;
  left: 0;
}

.servicies .container p {
  color: #fff;
  margin-bottom: 65px;
  font-weight: 700;
}

.servicies .container p:last-child {
  margin-bottom: 0;
}

.posts {
  padding: 120px 0 100px;
  text-align: center;
}

.posts h2 {
  color: #1d527c;
  margin-bottom: 40px;
}

.posts h2::after {
  background: #fd7f45;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.posts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts .container div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

.posts .container div img {
  width: 100%;
  display: block;
}

.posts .container div img,
.posts .container div h3,
.posts .container div p {
  margin-bottom: 30px;
}

.posts .container div h3 {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

.posts .container div p {
  text-align: justify;
}

.posts .container div button {
  padding: 15px 40px;
  background: #1d527c;
  border: 1px solid #1d527c;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.posts .container div button:hover {
  opacity: 0.8;
}

footer {
  text-align: center;
  padding: 100px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(253, 127, 69, 0.7)), to(rgba(69, 154, 211, 0.7))), url(../img/baloon.jpg);
  background-image: linear-gradient(90deg, rgba(253, 127, 69, 0.7), rgba(69, 154, 211, 0.7)), url(../img/baloon.jpg);
  background-position: center top;
  background-size: cover;
}

footer i {
  color: #1d527c;
  font-size: 2rem;
  margin-right: 20px;
}

footer i:last-child {
  margin-right: 0;
}

footer p {
  margin-top: 40px;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
  h2 {
    font-size: 2.5rem;
  }
  header {
    height: 100vh;
  }
  header nav div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  header nav ul {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav ul li {
    margin: 0;
  }
  header nav ul li a {
    font-size: 0.9rem;
  }
  header hgroup h1 {
    font-size: 2.2rem;
  }
  header hgroup p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
  }
  .about,
  .servicies,
  .posts,
  footer {
    padding: 20px 0;
  }
  .about article {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about article div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .about article div:first-child {
    padding-right: 0;
  }
  .about article div img {
    margin-top: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .servicies .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .servicies .container div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .servicies .container p {
    margin-bottom: 20px;
  }
  .servicies .container .icons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .servicies .container .icons ul {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .servicies .container .icons ul li {
    margin-top: 20px;
  }
  .servicies .container .icons ul li i {
    font-size: 3.5rem;
  }
  .posts .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .posts .container div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 30px;
  }
  .posts .container div:last-child {
    margin-bottom: 0;
  }
  .posts .container div img,
  .posts .container div h3,
  .posts .container div p {
    margin-bottom: 10px;
  }
  footer {
    padding: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */