@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&family=Open+Sans:wght@300;400&display=swap");
$fontFamilyBody: "Open Sans", sans-serif;
$fontFamilyHeadings: "Montserrat", sans-serif;
$fontSize: 16px;

$tamnoPlava: #1d527c; /* rgb(29, 82, 124) */
$svetloPlava: #459ad3; /* rgb(69, 154, 211) */
$orange: #fd7f45; /* rgb(253, 127, 69) */
$tamnoSiva: #3c3b3c;
$svetloSiva: lightgray;
$bela: #fff;
$transition: 0.3s ease;
$padding: 100px 0;
