@import "variable";
@import "reset";
@import "basic";
@import "mixin";
header {
    background-image: linear-gradient(rgba($svetloSiva, 0.5), rgba($orange, 0.7)), url(../img/baloon.jpg);
    background-position: center top;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    nav {
        background-image: linear-gradient(45deg, rgba($orange, 1), rgba(#2d678c, 0.9));
        padding: 5px 0;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 65%;
            margin: 0 auto;
            color: $bela;
        }
        .logo {
            font-weight: 700;
            font-size: 2rem;
        }
        ul {
            display: flex;
            li {
                margin-left: 60px;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 2px;
                    text-shadow: 0px 0 5px $tamnoSiva;
                    transition: color $transition;
                    &:hover {
                        color: $tamnoSiva;
                    }
                }
            }
        }
    }
    hgroup {
        color: $bela;
        text-align: center;
        height: 100%;
        position: relative;
        div {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h1 {
            font-weight: 400;
            font-size: 2.7rem;
            line-height: 1.3;
            span {
                font-weight: 400;
                font-style: italic;
            }
        }
        p {
            font-weight: 400;
            font-size: 1.3rem;
            margin: 40px 0 30px 0;
        }
        button {
            @include btn(transparent, $bela, $bela);
            transition: color $transition, background-color $transition;

            &:hover {
                background: $bela;
                color: $tamnoPlava;
            }
        }
    }
}
.about {
    padding: 100px 0;
    article {
        display: flex;

        div {
            flex: 0 0 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h2 {
                color: $tamnoPlava;
                &::after {
                    background: $tamnoPlava;
                    left: 0;
                }
            }
            &:first-child {
                padding-right: 50px;
            }
            img {
                width: 100%;
                box-shadow: 5px 5px 0px 5px $tamnoPlava;
            }
        }
    }
}
.servicies {
    padding: 115px 0 130px;
    background: linear-gradient(rgba($tamnoPlava, 0.9), rgba($tamnoPlava, 0.9)), url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    .container {
        display: flex;
        div {
            flex: 0 0 50%;
        }
        .icons {
            display: flex;
            justify-content: flex-start;
            ul {
                flex: 0 0 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li {
                    i {
                        font-size: 5rem;
                        color: $orange;
                    }
                }
            }
        }
        h2 {
            color: $bela;
            margin-bottom: 40px;
            &::after {
                background: $orange;
                left: 0;
            }
        }
        p {
            color: $bela;
            margin-bottom: 65px;
            font-weight: 700;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.posts {
    padding: 120px 0 100px;
    text-align: center;
    h2 {
        color: $tamnoPlava;
        margin-bottom: 40px;
        &::after {
            background: $orange;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        div {
            flex: 0 0 31%;
            img {
                width: 100%;
                display: block;
            }
            img,
            h3,
            p {
                margin-bottom: 30px;
            }
            h3 {
                font-size: 1.7rem;
                font-weight: 700;
                text-align: center;
            }
            p {
                text-align: justify;
            }
            button {
                @include btn($tamnoPlava, $tamnoPlava, $bela);
                transition: opacity $transition;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
footer {
    text-align: center;
    padding: 100px 0;
    background-image: linear-gradient(90deg, rgba($orange, 0.7), rgba($svetloPlava, 0.7)), url(../img/baloon.jpg);
    background-position: center top;
    background-size: cover;
    i {
        color: $tamnoPlava;
        font-size: 2rem;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    p {
        margin-top: 40px;
        color: $bela;
        font-weight: 700;
    }
}

// RESPONSIVE
@media (max-width: 767px) {
    .container {
        width: 90%;
    }
    h2 {
        font-size: 2.5rem;
    }
    header {
        height: 100vh;
        nav {
            div {
                flex-direction: column;
                width: 90%;
            }
            ul {
                width: 100%;
                justify-content: space-between;
                li {
                    margin: 0;
                    a {
                        font-size: 0.9rem;
                    }
                }
            }
        }
        hgroup {
            h1 {
                font-size: 2.2rem;
            }
            p {
                margin-left: 10px;
                margin-right: 10px;
                font-size: 1rem;
            }
        }
    }
    .about,
    .servicies,
    .posts,
    footer {
        padding: 20px 0;
    }
    .about {
        article {
            flex-wrap: wrap;
            div {
                flex: 0 0 100%;
                &:first-child {
                    padding-right: 0;
                }
                img {
                    margin-top: 20px;
                    box-shadow: none;
                }
            }
        }
    }
    .servicies {
        .container {
            flex-wrap: wrap;
            div {
                flex: 0 0 100%;
                order: 1;
            }
            p {
                margin-bottom: 20px;
            }
            .icons {
                order: 2;
                flex-wrap: wrap;
                ul {
                    flex: 0 0 100%;
                    flex-direction: row;
                    li {
                        margin-top: 20px;
                        i {
                            font-size: 3.5rem;
                        }
                    }
                }
            }
        }
    }
    .posts {
        .container {
            flex-wrap: wrap;
            div {
                flex: 0 0 100%;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                img,
                h3,
                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
    footer {
        padding: 20px 0;
    }
}
